
::-webkit-scrollbar{
  width: 1.3rem;
}
::-webkit-scrollbar-track{
  background-color:rgba(30, 29, 29, 0.875);
}
::-webkit-scrollbar-thumb{
  background-color: #1a314b;
  
  border-radius: 0.5rem;
  border: 0.4rem solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #204a7a;
}
.card{
  /* transition: all 0.3s; */
  flex: 0 50%;
  background-color: antiquewhite;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  border-radius: 15px;
  margin: 8px;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 265px;
  transition: 0.7s;
}

.card:hover{
  background: #e9cfb5;
  color: #fff;
  transform: scale(1.15);
  z-index: 9;
}
.card:hover::before {
  background: rgb(85 108 214 / 10%);
}
.col-md-4{
  padding-top: 1.7rem;
  padding-left: 1.4rem;
  padding-right: 1.4rem;

}